@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto";
  }

  body,html {
    background-color:   #242742;
    width: 100vw;
    height: 100vh;
    transition: all 0.3s;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color:   #242742;
  }

  article {
    
    background-color: white;
    flex-direction: row-reverse;
    display: flex;
    height: 500px;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
    min-width: 708px;
    max-width: 900px;
    justify-content: center;
    width: 90%;
   
  }

  div.imagem {
    height: 100%;
    width: 50%;
    padding: 20px;
    background-image: url(assets/images/illustration-sign-up-desktop.svg);
    background-color: white;
    background-repeat: no-repeat;
    background-position: left left;
    background-size: cover;
    object-fit: cover;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;

    
    
  }

  form {
    width: 50%;

  }

  h1 {
    padding-top: 30px;
    padding-bottom: 14px;
    font-size: 36pt;
  }

  p, ul, li {
    font-size: 15pt;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  ul {
    padding-left: 20px;
  }

  label {
    font-size: 15px;
    padding-top: 20px;
    display: block;
    font-weight: bold;
    padding-bottom:5px ;
  }

  input {
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 7px;
    outline: none;
    font-size: 13pt;
    border-width: 1.5px;
  
  }

  input.but{
    background-color:   #242742;
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-size: 15px;
    
  }

  input.ema{
  
    text-indent: 20px;
  }

  input.but:hover {
    background-color: linear-gradient(to right, #FF683F , #F8556A, #FF914B);
    transition:  background-image 2s;
    box-shadow: 0px 10px 20px #ff693fbc;
    transition: all .5s;
    outline: none;
    border: none;
  }